{% extends "front/index.html" %}
{% block title %}Product Details{% endblock %}
{% block content %}
<div class="product-details">
    <img class="product-image" src="{{ product.image }}" alt="{{ product.title }}">
    <div class="product-info">
        <h1>{{ product.title }}</h1>
        <div class="product-desc">{{ product.description }}</div>
        <div class="product-price">Price: ${{ product.price }}</div>
        <div class="product-actions">
            <a class="product-add-btn" href="{{ url_for('add_to_cart', pid=product.id) }}">Add to Cart</a>
            <a class="product-back-link" href="{{ url_for('catalog') }}">Back to Shoping</a>
        </div>
    </div>
</div>
{% endblock %}
